development:
  sessions:
    default:
      database: allosinatra_dev
      hosts:
        - localhost:27017

production:
  sessions:
    default:
      database: allosinatra_prod
      hosts:
        - localhost:27017

production:
  sessions:
    default:
      database: allosinatra_test
      hosts:
        - localhost:27017
